pyfact>=0.19.1
https://github.com/fact-project/classifier-tools/archive/to_dl3.tar.gz
https://github.com/fact-project/fact_plots/archive/v0.3.0.tar.gz
https://github.com/fact-project/irf/archive/v0.1.0.tar.gz
